extends layout

block content
  div.sub-title-container
    p #{title}: 
      b #{author.name}

  if manga_list.length 
    p.delete-item-message ** Please remove the following manga before attempting to delete this author: 
    each manga in manga_list 
      ul 
        li 
          a(href=`${manga.url}`) #{manga.title}

  else
    p Do you really want to delete this Author?
    form(method="POST" action="")
      input#authorid(type="hidden", name="authorid", required="true", value=author._id)
      button Delete

  if errors 
    ul 
      for error in errors 
        li!= error.msg