extends layout

block content
  div.sub-title-container
    p #{title}: 
      b #{genre.name}


  
  ul.list-item 
    each manga in genre_manga
      div.list-item-child
        li 
          a(href=manga.url) #{manga.title}:
      li #{manga.sypnosis}
    else 
      li There are no current Manga with this Genre.

  section.delete-update-container
    p
      a(href=`${genre.url}/delete`) Delete Genre 
    p
      a(href=`${genre.url}/update`) Update Genre 