extends layout

block content
  div.sub-title-container
    p #{title}: 
      b #{magazine.name}

  if manga_list.length 
    p.delete-item-message ** Please remove the following books before attempting to delete this magazine: 
    each manga in manga_list 
      ul 
        li 
          a(href=`${manga.url}`) #{manga.title}

  else
    p Do you really want to delete this Magazine?
    form(method="POST" action="")
      input#magazineid(type="hidden", name="magazineid", required="true", value=magazine._id)
      button Delete