extends layout

block content
  div.sub-title-container
    p #{title}:

  p(style="display: flex; flex-direction: row-reverse; margin-bottom: 2em") 
    a(href="/manga/create") + Create Manga

  ul.manga-grid
    - manga_list.sort(function(a, b) { let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0; });
      each manga in manga_list 
        div.manga-grid-item
          a(href=manga.url)
            div.manga-img-container(style=`background-image: url(${manga.image});`)
          li
            p #{manga.title} 
            p(style="margin-top: 0.25em") 
              a(href=manga.author.url)  #{manga.author.name}
      else 
        li There are no current Manga.